@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.unit-form-container {
  font-family: Arial, sans-serif;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  .awesome-form {
    background: #fff;
    width: 100%;
    max-width: 460px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

    .btn {
      border-radius: 5px;
      background: #007bff;
      color: #fff;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #0056b3;
      }
    }

    .form-control {
      background: none;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 0;
      box-shadow: none;
      transition: all 0.3s ease-in-out;
      margin-bottom: 1rem;
      padding: 0.7rem 1rem;

      &:focus {
        border-color: #007bff;
        box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
        outline: none;
      }
    }

    .unit-form-header {
      margin-bottom: 2.5rem;
      color: #828282;
      text-align: center;
      text-decoration: underline;
      font-family: 'DM Serif Display', serif;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  @media screen and (max-width: 900px) {
    .awesome-form {
      width: 95%;
    }
  }
}
