.container-btn {
  display: flex;
  border: 0 !important;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  border-color: white !important;
  color: inherit;
  border-width: 0 !important;
  box-shadow: none !important;
  width: 100%;
}
